{% extends "blog/front.html" %}
{% load static %}
{% block content %}
<div class="column is-full">
  <img class='postimg' src='{{post.imageURL}}'>
  <div class="box">
    <h2 class="title">{{ post.title }} </h2>
    <small>Posted at: {{ post.date }}</small>
    <hr>
    <hr>
    <p><strong>{{ post.intro }}</strong></p>
    <br>
    <p>{{ post.body|safe }}</p>
    <hr>
    <h2 class="subtitle">Comments</h2>
    {% for comment in post.comments.all %}
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p class="special">
              <strong>{{ comment.name }}</strong>
              <small>{{ comment.date }}</small>
              <br>
              {{comment.body}}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fas fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>
    </div>
    {% empty %}
    <div class="notification">
      <p>No comments yet!</p>
    </div>

    {% endfor %}
    <hr>
    <div class="box">
      <h2 class="subtitle">Add Comment</h2>

      <form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p }}
        <div class="field">
          <div class="control">
            <button class='button is-success'>Submit</button>
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}